<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">
<head>
	<title>Cadastro de Usuário</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>
<body>	

	<section layout:fragment="conteudo">
		
		<div class="page-header">
			<div class="container-fluid">
				<h1>
					Cadastro de usúario
				</h1>
			</div>
		</div>
		<div class="container-fluid">
			<form method="POST" th:object="${usuarios}" class="form-vertical js-form-loading">
				<div class="row">
					<div class="col-sm-12 form-group">
						<label for="nome">Nome</label>
						<input id="nome" type="text" class="form-control"/>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-8 form-group">
						<label for="email">E-mail</label>
						<input form="email" type="email" class="form-control"/>
					</div>
					
					<div class="col-sm-4 form-group">
						<label for="dataNascimento">Data de Nascimento</label>
						<input id="dataNascimento" type="date" class="form-control">
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4 form-group">
						<label for="senha">Senha</label>
						<input id="senha" type="password" class="form-control"/>
					</div>
					
					<div class="col-sm-4 form-group">
						<label for="confirmSenha">Confirmação de Senha</label>
						<input id="confirmSenha" type="password" class="form-control"/>
					</div>
					
					<div class="col-sm-4 form-group">
						<label for="status" class="control-label">Status</label>
						<div>
							<input type="checkbox" class="js-status" 
								data-size="small"data-off-color="danger" 
								data-on-text="Ativo" data-off-text="Inativo"/>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-4 form-group">
						<label for="grupo" class="control-label">Grupos</label>
						<div>
							<div class="checkbox checkbox-inline">
								<input type="checkbox"/>
								<label>Administrador</label>
							</div>
							
							<div class="checkbox checkbox-inline">
								<input type="checkbox"/>
								<label>Vendedor</label>
							</div>
						</div>
					</div>
				</div>
				
				<button type="submit" class="btn btn-primary">Salvar</button>
			</form>
		</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
		<script>
			$('.js-status').bootstrapSwitch();
		</script>
	</th:block>
</body>
</html>